<h1><%= @stylist.name() %></h1>

<form class="form-control" action="/owner/stylists/stylist/<%= @stylist.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="stylist_name">change name to:</label>
  <input type="text" name="stylist_name" autofocus>
  <button type="submit">Change</button>
</form>

<form class="form-control" action="/owner/stylists/stylist/<%= @stylist.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">DELETE</button>

</form>

<a href="/owner/stylists">back</a>
